<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
    <%- include('header') %>
    <p class="formatForm">PRODUCT FORM</p>
    <form action="/editProduct/<%= product.id %>" method="POST">
    <div>
        <label for="name" name="name" >Product Name :</label><br>
        <input type="text" id="name" name="name" value="<%=product.name%>"><br>
    </div>
    <div>
        <label for="Price">Product Price :</label><br>
        <input type="number" id="price" name="price" value="<%=product.price%>"><br>
    </div>
    <div>
        <label for="Stock">Stock Unit :</label><br>
        <input type="number" id="stock" name="stock" value="<%=product.stock%>"><br>
    </div>
    <div>
        <label for ="store_id" name="store_id">Store Name</label>
        <select id="store_id" name="store_id">
            <option value="">Select Store</option>
            <% store.forEach((item)=>{ %>
            <option value="<%=item.id%>"><%=item.name%></option>
            <%})%> 
        </select>
    </div> 
    <button type="submit">EDIT</button>
    </form>
    <ul>
    <%- include('footer') %>
</body>
</html>